.select2-container {
    min-width: 100% !important;
    width: auto !important;
}
.select2-container .select2-selection--single {
    height: calc(1.5em + .8rem + 2px);
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + .8rem + 2px);
}