{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Just a simple field service reporting program">
    <meta name="keywords" content="HTML, CSS, JavaScript, JW.org">
    <meta name="author" content="John Eric">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom.bootstrap.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <title>Ministry Report</title>
  </head>
  <body class="vh-100">
    <div class="container h-100">
      <div class="row h-100">
          {% block main %}
          {% endblock %}
          {% block footer %}
          {% endblock %}
      </div>
    </div>
  </body>
</html>