{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="col-8 mx-auto align-self-center">
    <form action="/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div style="display: none;">
                {{ field }}
            </div>
        {% endfor %}
        <div style="text-align: center;">You have an existing report for {{month}} {{year}}</div>
        <div style="text-align: center;">
            <input type="submit" value="Update" name="update_existing" class="btn mt-2 btn-primary">
            <input type="submit" value="Submit for next month" name="create_next_month" class="btn  mt-2 btn-primary">
        </div>
    </form>
</div>
{% endblock %}